body{
    color: white;
    background-color: rgb(55, 49, 49);
    font-family: Anton SC
    ;
}

header {
    border-bottom: solid 2px rgb(107, 119, 123);
    margin: 10px;
    font-size: 42px;
    padding: 12px;
    color: rgb(107, 119, 123);
    display: flex;
    justify-content: center;

}

.secao {
    background: rgb(109, 113, 113);
    padding-bottom: 80px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: rgb(104, 147, 147);
    padding: 12px;
    margin-right: 60px;
    border-radius: 12px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px
}

.junior {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    text-align: center;
}

.Videlitos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Videlitos {
    background: rgb(107, 119, 123);
    padding-bottom: 30px;
    padding-top: 20px;
}

.Videlitos {
    padding-left: 20px;
    padding-right: 20px;
}

.Junior img {
    opacity: 0.4;
    height: 200px;
}

.Junior img:hover {
    opacity: 1.0;
    border: 3px solid rgb(59, 82, 59);
}

.Junior h2 {
    color: rgb(107, 119, 123);
}
